/* normalize.css - minimal reset */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

ul {
  list-style: disc;
  padding-left: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
