@media (min-width: 768px) {
  nav .navigation {
    display: flex;
    justify-content: center;
  }

  #menu {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  main h1 {
    grid-column: 1 / -1;
  }
}
