@media (min-width: 768px) {

  nav ul {
    display: flex;
    justify-content: center;
  }

  #menu {
    display: none;
  }

  main {
    max-width: 1100px;
    margin: auto;
  }

  section {
    display: grid;
    gap: 1rem;
  }
}
