/* large.css - styles for larger screens */
@media screen and (min-width: 768px) {

    nav ul {
        display: flex;
        gap: 2rem;
    }

    #hamburger {
        display: none;
    }

    #course-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    main {
        padding: 2rem;
    }

    header img {
        width: 70px;
        height: 70px;
    }

    button {
        margin-right: 0.5rem;
    }
}
