@media (min-width: 768px) {

  nav ul {
    display: flex;
    gap: 1rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .list .member {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 1rem;
    align-items: center;
  }
}
