@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        gap: 2rem;
    }

    #hamburger {
        display: none;
    }

    #course-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
