@media (min-width: 768px) {

  .intro-box {
    flex-direction: row;
    gap: 1.5rem;
  }

  .intro-image, .intro-text {
    flex: 1;
  }

  .intro-image img {
    height: 100%;
    object-fit: cover;
  }

  .community-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Member container grid smaller */
  .member-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .hero {
    height: 400px;
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .socials {
    justify-content: center;
  }

  /* DIRECTORY */
  .member-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
