@media (min-width: 768px) {

  .site-header {
    flex-direction: row;
    justify-content: space-between;
  }

  #members.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #members.list .member {
    display: flex;
    gap: 1rem;
  }

  #members.list img {
    display: none;
  }
}
