@media (min-width: 768px) {

  #menu {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
  }

  section {
    margin: 0;
  }
}
